page-contact {
    .button {
        margin: auto;
        flex-basis: 50px;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .action-red { .button-inner { color: darkred; } }
    }