<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <ion-buttons end class="button">
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="toggle">
    <ion-item *ngFor="let item of autocompleteItems" (click)="selectItem(item.idUser)">
      <h2>{{item.idUser}}</h2>
      <p>{{item.email}}</p>
    </ion-item>
  </ion-list>

</ion-content>