page-home {
    #map_canvas{
        display: block;
        height: 100%;
        width: 100%;
    }
    ion-footer {
        ion-icon {
            font-size: 30px;
            margin: auto;
        }
    }
    ion-buttons {
        display: flex;
        justify-content: space-around;
    }
}
